.menu-item-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 1.5rem;
  width: 286px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.menu-item-image {
  border-radius: 500px;
  height: 148px;
  width: 148px;
}
